body {
 font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

header,
footer {
 background-color: #1f2937;
 color: #E5E7EB;
}

header {
 display: flex;
 flex-direction: column;
}

.hero-main-text {
 font-size: 48px;
 font-weight: bolder;
 color: #F9FAF8;
}

.hero-secondary-text,
.header-links {
 font-size: 18px;
 color: #E5E7EB;
}

.header-links {
 display: flex;
 justify-content: space-between;
 padding: 10px;
}

.links {
 list-style: none;
 display: flex;
 gap: 10px;
 margin: 0;
 padding: 0;
}

a {
 text-decoration: none;
}

button {
 background-color: #3882F6;
 color: #F9FAF8;
}

.content {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.container {
 display: flex;
}

.information-header {
 font-size: 36px;
 font-weight: bolder;
 color: #1F2937;
}

.illustration{
 width: 200px;
 height: 200px;
}

.quote {
 background-color: #e5e7eb;
 font-size: 36px;
 font-weight: lighter;
 color: #1F2937;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 20px;
}

.inspiring {
 display: flex;
 flex-direction: column;
 max-width: 50%;
}

.inspiring p {
 margin: 0;
 padding: 0;
}

.thor {
 font-size: 18px;
 font-weight: bold;
 display: flex;
 align-self: flex-end;
}

.call {
 display: flex;
 justify-content: center;
 padding: 20px;
 color: #F9FAF8;
}

.action {
 background-color: #3882F6;
 border-radius: 5px;
 width: 50%;
}

.action p {
 color: #E5E7EB;
}

footer {
 display: flex;
 justify-content: center;
}